*
{
  margin: 0;
  padding: 0;
  outline: none;
}
body
{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background: #ebe5e5;;
}
#header {
  background-color: rgb(55, 167, 115);
  height: 85px;
}
div.widget1
{
  position: fixed;
  top: 300px;
  left: 200px;
  width: 325px;
  height: 120px;
  margin: 75px auto;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}
div.widget2
{
  position: fixed;
  top: 300px;
  right: 200px;
  width: 325px;
  height: 120px;
  margin: 75px auto;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}
div.temperatura
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0,0,0,0.7);
}
div.humedad
{
  text-align: right;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0,0,0,0.7);
}
div.at
{
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  color: rgba(0,0,0,0.5);
}
div.ah
{
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  color: rgba(0,0,0,0.5);
}
div.valorT
{
  font-size: 50px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}
div.valorH
{
  text-align: right;
  font-size: 50px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}
div.panel
{
  display: inline-block;
}
div.hume-panel
{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 7%;
  padding-left: 200px;
}
div.temp-panel
{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 7%;
  padding-left: 10px;
}
div.aire-panel
{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  float: right;
  top: 0;
  margin-top: 5%;
  padding-right: 175px;
}
div.regar-panel
{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  float: left;
  top: 0;
  margin-top: 7%;
  padding-left: 20px;
}
.plant
{
  position: relative;
  top: 150px;
  background-color: #f7f7f7;
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  box-shadow: 0px 31px 35px -26px #080c21;
}
.musguillo1
{
  position: absolute;
  left: 35px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.musguillo2
{
  position: absolute;
  right: 35px;
}
h4
{
  position: absolute;
  top: 25px;
  right: 500px;
  left: 500px;
}